@media (min-width: 1024px) {
  .container {
    flex-direction: row;
  }
  .banner {
    width: 35%;
    height: 100vh;
    position: relative;
  }

  #card-holder {
    position: absolute;
#card-front {
        width: 80%;
        height: 210px;
        top: 188px;
        left: 18%;
        z-index: 2;
        max-width: 388px;

        #circle {
            margin-bottom: 94px;
        }
      }
    #card-back {
      max-width: 388px;
      height: 210px;
      top: 470px;
      left: 26%;
      width: 80%;
    }
  }
  .form-holder {
    padding: 230px 0 30px;

    width: 65%;
  }
}


@media (min-width: 1200px) {
   #card-holder #card-front {
    left: 32%;
    }
    #card-holder #card-back {
        left: 40%;
    }
}

@media (min-width: 1400px) {
    #card-holder #card-front {
        left: 60%;
    }
    #card-holder #card-back {
        left: 75%;
    }
}

@media (min-width: 1630px) {
    #card-holder #card-front {
        left: 80%;
    }
    #card-holder #card-back {
        left: 95%;
    }
}